In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('../00-data/data.csv', encoding='latin1')

df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

la normalizzazione e la standardizzazione andranno fatte su quantità (Quantity) e prezzo unitario (UnitPrice)

Procedo con pandas

In [11]:
features = ['Quantity', 'UnitPrice']
to_reduce = df[features]

normalizzazione

In [12]:
#normalizzazione, porta i valori in un range tra 0 e 1
df_norm = df.copy()
df_norm[features] = (to_reduce-to_reduce.min())/(to_reduce.max()-to_reduce.min())
df_norm

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,0.500037,12/1/2010 8:26,0.221150,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,0.500037,12/1/2010 8:26,0.221167,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,0.500049,12/1/2010 8:26,0.221154,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,0.500037,12/1/2010 8:26,0.221167,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,0.500037,12/1/2010 8:26,0.221167,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,0.500074,12/9/2011 12:50,0.221116,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,0.500037,12/9/2011 12:50,0.221141,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,0.500025,12/9/2011 12:50,0.221182,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,0.500025,12/9/2011 12:50,0.221182,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,0.500019,12/9/2011 12:50,0.221198,12680.0,France

standardizzazione

In [13]:
X_std = df.copy()
X_std[features] = (to_reduce-to_reduce.mean())/(to_reduce.std())
X_std

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-0.016289,12/1/2010 8:26,-0.021301,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,-0.016289,12/1/2010 8:26,-0.012620,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,-0.007118,12/1/2010 8:26,-0.019234,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,-0.016289,12/1/2010 8:26,-0.012620,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,-0.016289,12/1/2010 8:26,-0.012620,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,0.011224,12/9/2011 12:50,-0.038871,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,-0.016289,12/9/2011 12:50,-0.025952,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,-0.025460,12/9/2011 12:50,-0.004766,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,-0.025460,12/9/2011 12:50,-0.004766,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,-0.030045,12/9/2011 12:50,0.003502,12680.0,France

normalizzazione e standardizzazione in array numpy, uso sklearn

In [14]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

Normalizzazione (MinMaxScaler)

In [15]:
mms = MinMaxScaler()

X_norm = df.copy()
X_norm[features] = mms.fit_transform(X_norm[features])
X_norm

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,0.500037,12/1/2010 8:26,0.221150,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,0.500037,12/1/2010 8:26,0.221167,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,0.500049,12/1/2010 8:26,0.221154,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,0.500037,12/1/2010 8:26,0.221167,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,0.500037,12/1/2010 8:26,0.221167,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,0.500074,12/9/2011 12:50,0.221116,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,0.500037,12/9/2011 12:50,0.221141,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,0.500025,12/9/2011 12:50,0.221182,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,0.500025,12/9/2011 12:50,0.221182,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,0.500019,12/9/2011 12:50,0.221198,12680.0,France

Standardizzazione (StandardScaler)

In [16]:
ss = StandardScaler()

X_std = df.copy()
X_std[features] = ss.fit_transform(X_std[features])
X_std

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-0.016289,12/1/2010 8:26,-0.021301,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,-0.016289,12/1/2010 8:26,-0.012620,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,-0.007118,12/1/2010 8:26,-0.019234,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,-0.016289,12/1/2010 8:26,-0.012620,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,-0.016289,12/1/2010 8:26,-0.012620,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,0.011224,12/9/2011 12:50,-0.038871,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,-0.016289,12/9/2011 12:50,-0.025952,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,-0.025460,12/9/2011 12:50,-0.004766,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,-0.025460,12/9/2011 12:50,-0.004766,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,-0.030045,12/9/2011 12:50,0.003502,12680.0,France